<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>
                Mainpage
            </title>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/partials.css">
            <script src="/src/partials.js"></script>
        </head>
        <body onload="adjust_partials()">
            <%- include('./partials/header.ejs') %>
            <%- include('./partials/navbar.ejs') %>
            <%- body %>
            <%- include('./partials/footer.ejs') %>
        </body>
    </html>