<div class="col-sm-2 bg-info" style="border-radius: 0.375em; text-align: center; padding: 0">
    <a href="#" style="display: block;background-color: #33331a;color:white; border-radius: 0.375em; border: 1px solid black">Testi</a>
</div>
