<link rel="stylesheet" type="text/css" href="/css/accountpage.css">
<script src="/src/accountpage.js"></script>
<script>
    let user = JSON.parse('<%- data %>');
    let message = "";

    '<% if (locals.message) { %>'
            message = '<%- message %>';
    '<% } %>'
    adjust_accountpage(user, message);
</script>
<section class="bg-info">
    <div class="box">
        <form class="form" method="POST" action="/online-store/update-account">
            <div id="grid-container" class="grid-container">
                <div class="item1">Käyttäjänimi</div>
                <div class="item">
                    <input type="text" id="username" readonly>
                </div>
                <div class="item2">Sähköpostiosoite</div>
                <div class="item">
                    <input type="text" id="email" readonly>
                </div>
                <div class="item3">Etunimi</div>
                <div class="item">
                    <input type="text" name="firstname" id="firstname" required="name" pattern="[A-Za-z]{2,20}" title="Vain kirjaimia 3-20kpl">
                </div>
                <div class="item4">Sukunimi</div>
                <div class="item">
                    <input type="text" name="lastname" id="lastname" required="name" pattern="[A-Za-z]{2,30}" title="Vain kirjaimia 3-30kpl">
                </div>
                <div class="submit">
                    <input type="submit" value="Edit">
                </div>
            </div>
        </form>
    </div>
</section>