<link rel="stylesheet" type="text/css" href="/css/basketpage.css">
<script src="/src/basketpage.js"></script>
<script>
    let data;
    '<% if(locals.data) { %>'
        data = JSON.parse('<%- data %>');
    '<% } %>';
    check_basket(data);
</script>
<section>
    HUHUUUU
</section>