<link rel="stylesheet" type="text/css" href="/css/basketpage.css">
<script src="/src/basketpage.js"></script>
<script>
    let data = null;
    '<% if(locals.data) { %>'
        data = JSON.parse('<%- data %>');
    '<% } %>';
    check_basket(data);
</script>
<section class="bg-info">
    <div class="box">
        <form class="form" method="POST" action="/online-store/update-account">
            <p class="basket-name">Ostoskori</p>
            <hr>
            <div class="row">
                <p class="products">Tuotteet</p>
                <p class="count">Määrä</p>
                <p class="price">Hinta</p>
            </div>
            <hr>
            <div class="row" style="height: 7em">
                <div class="products">
                    <img src="/images/viskit/">
                </div>
                <div class="count">
                    kassi
                </div>
                <div class="price">
                    sdfsdfdffdssdfs
                </div>
            </div>
        </form>
    </div>
</section>