<link rel="stylesheet" type="text/css" href="/css/mainpage.css">
<script src="/src/mainpage.js"></script>
<script>
    let products = JSON.parse('<%- data %>');
    mainpage_load(products);
</script>
<section>
    <div class="col-sm-2 bg-info sidebar">
    </div>
        <div class="col-sm-10 bg-primary" style="border-radius: 0.375em;">
            <div class="products">
                <div id="products-left" class="products-left"></div>
                <div id="products-right" class="products-right"></div>
            </div>
        </div>
</section>