<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>
                Mainpage
            </title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
            <link rel="stylesheet" type="text/css" href="/css/partials.css">
            <script src="/src/mainpage.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                let data = '<%- data %>';
                let products = JSON.parse(data);
            </script>
        </head>
        <body onload="get_products(products)">
            <section>
                <%- include('../partials/sidebar.ejs') %>
                    <div class="col-sm-10 bg-primary" style="border-radius: 0.375em;">
                        <div class="products">
                            <div id="products-left" class="products-left"></div>
                            <div id="products-right" class="products-right"></div>
                        </div>
                    </div>
            </section>
            
        </body>
    </html>