
<link rel="stylesheet" type="text/css" href="/css/productpage.css">
<script src="/src/productpage.js"></script>
<script>
    let product = JSON.parse('<%- data %>');
    productpage_load(product);
</script>
<section>
    <div class="col-sm-2 bg-info sidebar">
    </div>
        <div class="col-sm-10 bg-primary" style="border-radius: 0.375em">
            <div id="product" class="product"></div>
        </div>
</section>