*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html  {
    font-size: 62.5%;   // 1rem = 10px
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
}