body{
    width: 80%;
    margin: auto;
    background-color:darkgray;
}
p{
    margin: 0.2em;
    font-weight: bold;
    width: 30%;
}
section{
    border-radius: 0.375em;
    padding: 5em;
}
.box{
    margin: auto;
    width: 60%;
    background-color: gainsboro;
    height: 35em;
    border-radius: 0.375em;

}
.form{
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 2em;
    border-radius: 0.375em;
    display: grid;
    justify-content: center;
    align-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.3em;
}
.grid-container > div{
    font-size: 120%;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.submit{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding-top: 1em;
}
.item{
    text-align: center;
}
input[type=text]{
    border-radius: 0.375em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
input[type=submit]{
    border-radius: 0.375em;
    width: 5em;
}
.message{
    margin: 0.2em;
    font-weight: bold;
    color: red;
}