body{
    width: 80%;
    margin: auto;
    background-color:darkgray;
}
p{
    margin: 0.2em;
    text-align: center;
}
section{
    border-radius: 0.375em;
    padding: 5em;
}
.box{
    margin: auto;
    width: 60%;
    background-color: white;
    height: 25em;
}
.row{
    flex-direction: row;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    
}