body{
    width: 80%;
    margin: auto;
    background-color:darkgray;
}
p{
    margin: 0.2em;
}
section{
    flex-direction: row;
    display: flex;
    margin: 0;
    border-radius: 0.375em;
    height: 50em;
}
.product-image{
    height: 17em;
    margin: auto;
    align-items: center;
    background-color: #fff;
}
.products-left, .products-right{
    height: 50em;
    width: 48em;
    overflow-y: auto;
    width: 50%;
}
.products{
    flex-direction: row;
    display: flex;
    border-radius: 0.375em;
}
.product{
    height: 19.7em;
    flex-direction: row;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.375em;
}
.image-div{
    padding: 0;
    
}
.product-info{
    margin: 0;
    padding: 0;
    font-size: 120%;
}
.product-text{
    font-weight: bold;
}