.jumbo {
    border-radius: 0.375em;
    background-color: gainsboro;
    display: grid;
}

h1.header {
    margin-top: 2em;
    margin-bottom: 2.3em;
    text-align: center;
}

h1.footer {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center
}

p.username {
    font-style: italic;
    font-weight: bold;
    color:cadetblue;
    font-size: 120%;
    margin-right: 0.5em;
}

.navbar {
    margin: 0;
    border-radius: 0.375em;
    background-color: #ccccff;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

a:link, a:visited {
    color:black;
}

a:link:active, a:visited:active {
    color:white;
}

.form-inline {
    align-self: center;
    margin: 0;
    padding: 0;
}

.sidebar {
    border-radius: 0.375em;
    text-align: center;
    padding: 0;
}

footer {
    height: 10em;
    background-color: #ccccb3;
    border-radius: 0.375em;
}

.test {
    display: flex;
    flex-direction: row;
    margin: 0.5em 1em 0 0;
    justify-content: right;
    align-items: center;
}

.fa-shopping-cart {
    font-size: 120%;
    color:cadetblue;
}