body{
    width: 80%;
    margin: auto;
    background-color:darkgray
}
p{
    margin: 0.2em;
}
section{
    flex-direction: row;
    display: flex;
    margin: 0;
    border-radius: 0.375em;
    height: auto;
}
.product-image{
    height: 37em;
    margin: auto;
    align-items: center;
}
.product{
    height: 39em;
    flex-direction: row;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.375em;
}
.image-div{
    padding: 0;
}
.product-info{
    padding: 2.5em 0;
    font-size: 180%;
    align-self: flex-end;
}
.product-text{
    font-weight: bold;
}
.btn{
    margin-top: 1em;
    border-radius: 5em;
    margin-left: 0.5em;
}